p {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  position: relative;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: black;
}

nav div.right {

  display: flex;
  justify-content: space-around;
  width: 50%;
  padding-right: 90px;


}

div.side-menu {
  display: none;
}

nav div.hamburger {
  display: none;
}

nav div.right a {
  color: white;
  /* font-weight: 600; */
}

nav div.left {
  padding: 20px;
  width: 50%;
}

nav div.left a.name {
  font-weight: 700;
  font-size: xx-large;
}

#hero .left {
  /* padding-top: 140px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 20px 0 50px;
  width: 320px;
  float: left;
}

#hero .left span {
  font-size: x-large;
}

#hero .left span.largest-boldest {
  font-size: xxx-large;
  font-weight: 900;
}

#hero .left p {
  color: grey;
  padding: 10px 0;
}

div.sections {
  position: absolute;
}

#hero {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#hero .right {
  width: 60%;
}

#hero .right img {
  height: 100vh;
  width: 100%;


}


#skills {}

@media (max-width: 1024px) {
  nav div.right {
    display: none;
  }

  nav div.hamburger {
    display: block;
    color: white;
    font-size: large;
    margin-right: 50px;
    border: 3px solid;
    padding: 5px 15px;
  }

  div.side-menu.open {
    display: block;
    color: black;
    /* float: right; */
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 100%;
    /* height: 100vh; */
    /* background-color: white; */


  }

  div.side-menu div.side-menu-wrapper {
    position: relative;
    float: right;
    width: 30%;
    background-color: white;
    height: 100vh;
    color: black;
    z-index: 30;
    /* box-shadow: -5px 0px 10px black; */
    box-shadow: -3px 0px 10px grey;
  }

  div.side-menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    height: 500px;
    /* justify-content: space-around; */
  }



  div.side-menu div.side-menu-wrapper-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    margin-top: 55px;
    width: 100%;
    align-items: center;

  }

  div.side-menu-wrapper div.cross-icon {
    /* not working */
    position: absolute;
    font-size: xx-large;
    width: 100%;
    /* right: 0; */
    display: flex;
    justify-content: end;
    padding-right: 20px;

    /* font awesome icon should be enclosed by the div , the class + className never work , thats for sure */
  }

  div.side-menu-wrapper i {
    border: 1px solid grey;
    padding: 10px;
  }

  #hero .left {
    padding-top: 50px;
    height: 50vh;
  }

  #hero .right img {
    height: 50vh;
    width: 100%;


  }

  #hero .left span {
    font-size: large;
  }

  #hero .left span.largest-boldest {
    font-size: xx-large;
    font-weight: 900;
  }


}

@media (max-width:640px) {

  #hero {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  div.side-menu div.side-menu-wrapper {

    width: 60%;

  }



  #hero .left {
    /* width: 100%; */
    width: fit-content;


  }

  #hero .right {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  nav div.hamburger {
    color: black;
  }

  .contact-us img {
    display: none;
  }

  nav div.left {
    width: 100%;

  }


  #hero div.left {
    margin: 70px 10px;
  }
}

@media (width:1024px) {
  #hero div.left {
    margin: 70px 10px;
  }

  #hero div.right img {
    height: 100%;
  }


  div.side-menu div.side-menu-wrapper {

    width: 60%;

  }
}